*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url(./hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: blanchedalmond;
    height: 50px;
    width: 100%;
}
.nav-menu{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu:hover{
    cursor: pointer;
}

span{
    font-weight: 900;
}
a{
    text-decoration: none;
    color: goldenrod;
}
.active{
    color: darkorchid;
    background-color: blanchedalmond;
    padding: 10px;

}
.container{
    height: 500px;
    /* padding-top: 200px 0px 0px 50px; */
    line-height: 70px;
    /* background-color: rgb(174, 111, 111); */
    text-align: center;
    padding-top: 80px;
}
.first-heading{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.make{
    font-size: 98px;
    font-weight: 600;
}
.frontend{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.Nigeria{
    border-bottom: 6px solid  darkgoldenrod;
}
.feature{
    height: 600px;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    padding: 5px;
    gap: 10px 25px;
    margin: 5% 0px 0px 0px;
    /* background-color: red; */
}

.box1{
    background-color: aquamarine;
    background-image: url(./architecture-gefbc6f6cc_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: white; */
    color:yellow;
    text-shadow: 1px 30px 1px 1px red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}

.box1 > h3{
    font-weight: 600;
    text-transform: uppercase;
    background-color: burlywood;
}

.box1 p{
    background-color:#2323;
    margin-top: 20px;
}

.box2{
    background-color: burlywood;
    background-image: url(./background-g2b9f6013c_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: chocolate;
    /* text-shadow: 1px 20px 1px 1px rebeccapurple; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}
.box2 h3{
    font-size: 700;
    text-transform:uppercase;
    background-color: rgb(102, 122, 124);
}
.box2 p{
    background-color:#2323;
    margin-top: 20px;
}
.box3{
    background-color: cornflowerblue;
    background-image: url(./futuristic-g279b4e320_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.box3 h3{
    font-size: 600;
    text-transform: uppercase;
    text-decoration: antiquewhite;
    background-color: rgb(192, 124, 21);
}
.box3 p{
    background-color:#2323;
    margin-top: 30px;
}

.box4{
    background-color: deepskyblue;
    background-image: url(./skyscrapers-ge774b5b37_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.box4 h3{
    font-size: 600;
    text-transform: uppercase;
    background-color:skyblue;
    text-align: center;
}
.box4 p{
    background-color:rgb(87, 81, 71);
    color: black;
    margin-top: 20px;
}

.box5{
    background-color: magenta;
    background-image: url(./office-gdffaf685d_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(42, 96, 42, 0.2);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
.box5 h3{
    font-size: 600;
    text-transform: uppercase;
    text-align: center;
    color: black;
    /* margin-top: 20px; */
    background-color:darkgrey
}
.box5 p{
    margin-top: 20px;
    color: black;
    background-color: #2323;
}

.box6{
    background-color: firebrick;
    background-image: url(./washing-machine-gb1d6d06f0_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(11, 12, 12);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.box6 h3{
    font-size: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: lightblue;
}

.box6 p{
    margin-top: 20px;
    color: red;
    background-color: #2323;
}

.box7{
    background-color: blue;
    background-image: url(./woman-gb11c94d5a_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.box7 h3{
    font-size: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: fuchsia;
}
.box7 p{
    margin-top: 20px;
    background-color: #2323;
}
.box8{
    background-color: midnightblue;
    background-image: url(./tin-can-gc54b48a2c_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(194, 55, 131);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.box8 h3{
    font-size: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: lemonchiffon;
}
.box8 p{
    margin-top: 20px;
    background-color:azure;
}
.project-title{
    background-color: red;
    width: 50%;
    margin-left: 90px;
    margin-top:100px ;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}
 .moving-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    /* font-size: 15px; */
    
}
.moving-text li {
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

marquee{
    background-color:#2323;
    position:sticky;
}
.bottom-line{
    border-bottom: 2px solid black;
    margin-top: 100px;
}
footer{
    background-color: cornflowerblue;
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    
}

@media screen and (max-width:1201px) {
    .nav-menu{
        flex-direction: column;
        top: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        /* margin-right: 0; */
        background-color: lightblue;
        height: 500px;
        width: 50%;
        line-height: 60px;
        /* display: none; */
    }
    li:hover{
        width: 100%;
        background-color: antiquewhite;
    }
   
    .navigation{
        background-color: crimson;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .feature{
        display: block;
        background-color: red;
        padding:40px;
    }

    .box{
        height: 400px;
        margin-top: 30px;
    }

}
